
<style>
    .cardskelton {
        margin: 10px;
    }

    .card-text.placeholder-glow.btn.btn-danger.btn-sm {
       height:10px;
        margin-bottom: 1px;
    }
</style>
<div class="row">
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
    <div class="card cardskelton" style="width: 15rem;">
        <div>
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-2"></span>
            </h5>
            <hr />
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <span class="placeholder col-10"></span>
            </p>
            <p class="card-text placeholder-glow">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="placeholder col-6"></span>
            </p>
            <button class="card-text placeholder-glow btn btn-danger btn-sm">
                <span class="placeholder col-1"></span>
            </button>
            <button href="#" tabindex="-1" class="btn btn-primary btn-sm disabled placeholder col-12"></button>
        </div>
    </div>
</div>