@page "/AccountOverview"
@using NGSmart.WebBlazor.Ecare.Models;
@inject Services.UserInformationService UserInformationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
</head>
<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <div style="background-color:whitesmoke;" id="kt_app_content_container" class="app-container container-xxl">
        <AccountComponent PartyRoleID="@PartyRoleID"/>
        <AccountOverviewComponent PartyRoleID="@PartyRoleID"/>
    </div>
</body>
</html>

@code {
    public string PartyRoleID = "337682";
}