<div class="dropdown-menu dropdown-menu-big dropdown-menu-right show" x-placement="top-start" style="width:300px; position: absolute; padding:inherit; top: 0; left: 0px;">
    <div class="columns color-gray component-container">
        <div class="columns component-top-bar" style="background-image: url(/menu-header-bg.jpg);">
            <div class="d-flex flex-column flex-center bgi-no-repeat rounded-top">
                <h3 class="text-white fw-semibold mb-3 text-center align-center" style="font-size:19px;">اعتبار : 20000 تومان</h3>
            </div>
        </div>
        <div class="columns component-body">
            <div class="rows bottom-border ">
                <a style="text-decoration:none; cursor:pointer; margin-left:0;" class="row-item left-border d-flex flex-column flex-center h-100 p-6 bg-hover-light color-blue">
                    <div class="symbol symbol-35px symbol-circle text-center icon-height">
                        <i class="fa fa-shopping-cart" style="font-size: 30px"></i>
                    </div>
                    <span class="fs-5 fw-semibold text-gray-800 mb-0 text-center">پنج خرید آخر</span>

                </a>
                <a style="text-decoration:none; cursor:pointer; margin-left:0;" class=" row-item d-flex flex-column flex-center h-100 p-6 bg-hover-light color-blue">
                    <div class="symbol symbol-35px symbol-circle text-center icon-height">
                        <i class="fa-solid fa-message" style="font-size: 30px"></i>
                    </div>
                    <span class="fs-5 fw-semibold text-gray-800 mb-0 text-center">پنج پیامک آخر</span>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .component-container {
        border-radius: 5px;
    }

    .component-top-bar {
        height: 100px;
        width: 100%;
        border-radius: 5px;
    }

    .component-body {
        margin-top: 15px;
    }

    .columns {
        margin-top: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
    }

    .rows {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .row-item {
        height: 110px;
        width: 49%;
        padding: 10px;
    }

    .left-border {
        border-left: 1px solid #EFF2F5;
    }

    .bottom-border {
        border-bottom: 1px solid #EFF2F5;
    }

    .color-gray {
        color: #A1A5B7;
    }

    .color-blue {
        color: #009EF7;
    }

    .icon-height {
        height: 52px;
    }

    .align-center {
        margin-top: 30px;
    }
</style>
