<section class="container">
    <div class="panel">
        <div class="skeleton">
            <div class="skeleton__header"></div>
            <div class="skeleton__hr"></div>
            <div class="skeleton__section skeleton__section--table">
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="panel col9-12">
        <div class="skeleton">
            <div class="skeleton__header"></div>
            <div class="skeleton__hr"></div>
            <div class="skeleton__section">
                <div class="skeleton__group"></div>
                <div class="skeleton__block"></div>
                <div class="skeleton__block"></div>
            </div>
            <div class="skeleton__section">
                <div class="skeleton__group"></div>
                <div class="skeleton__block"></div>
                <div class="skeleton__block"></div>
                <div class="skeleton__block"></div>
            </div>
        </div>
    </div>

    <div class="panel col3-12">
        <div class="skeleton">
            <div class="skeleton__header"></div>
            <div class="skeleton__hr"></div>
            <div class="skeleton__section skeleton__section--actions">
                <div class="skeleton__button"></div>
                <div class="skeleton__button"></div>
                <div class="skeleton__button"></div>
            </div>
            <div class="skeleton__section skeleton__section--actions">
                <div class="skeleton__input"></div>
            </div>
            <div class="skeleton__section">
                <div class="skeleton__p"></div>
                <div class="skeleton__p"></div>
            </div>
            <div class="skeleton__section">
                <div class="skeleton__p"></div>
                <div class="skeleton__p"></div>
                <div class="skeleton__p"></div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="panel col9-12">
        <div class="skeleton">
            <div class="skeleton__header"></div>
            <div class="skeleton__hr"></div>
            <div class="skeleton__section skeleton__section--calendar">
                <div class="skeleton__block skeleton__block--s"></div>
                <div class="skeleton__block skeleton__block--s"></div>
                <div class="skeleton__block skeleton__block--s"></div>
                <div class="skeleton__block skeleton__block--s"></div>
                <div class="skeleton__block skeleton__block--s"></div>
            </div>
            <div class="skeleton__section skeleton__section--calendar">
                <div class="skeleton__block skeleton__block--empty"></div>
                <div class="skeleton__block">
                    <div class="skeleton__block skeleton__block--empty"></div>
                    <div class="skeleton__block"></div>
                    <div class="skeleton__block skeleton__block--l"></div>
                    <div class="skeleton__block"></div>
                </div>
                <div class="skeleton__block">
                    <div class="skeleton__block skeleton__block--xl"></div>
                    <div class="skeleton__block"></div>
                    <div class="skeleton__block skeleton__block--xl"></div>
                </div>
                <div class="skeleton__block skeleton__block--empty"></div>
                <div class="skeleton__block">
                    <div class="skeleton__block skeleton__block--empty skeleton__block--l"></div>
                    <div class="skeleton__block"></div>
                    <div class="skeleton__block skeleton__block--l"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel col3-12">
        <div class="skeleton">
            <div class="skeleton__header"></div>
            <div class="skeleton__hr"></div>
            <div class="skeleton__section skeleton__section--actions">
                <div class="skeleton__input"></div>
            </div>
            <div class="skeleton__section">
                <div class="skeleton__block"></div>
                <div class="skeleton__block"></div>
                <div class="skeleton__block"></div>
                <div class="skeleton__block"></div>
                <div class="skeleton__block"></div>
                <div class="skeleton__block"></div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="panel col3-12">
        <div class="skeleton">
            <div class="skeleton__tree skeleton__tree--0">
                <div class="skeleton__icon"></div>
                <div class="skeleton__p"></div>
            </div>
            <div class="skeleton__tree skeleton__tree--1">
                <div class="skeleton__icon"></div>
                <div class="skeleton__p"></div>
            </div>
            <div class="skeleton__tree skeleton__tree--1">
                <div class="skeleton__icon"></div>
                <div class="skeleton__p"></div>
            </div>
            <div class="skeleton__tree skeleton__tree--0">
                <div class="skeleton__icon"></div>
                <div class="skeleton__p"></div>
            </div>
            <div class="skeleton__tree skeleton__tree--1">
                <div class="skeleton__icon"></div>
                <div class="skeleton__p"></div>
            </div>
            <div class="skeleton__tree skeleton__tree--1">
                <div class="skeleton__icon"></div>
                <div class="skeleton__p"></div>
            </div>
            <div class="skeleton__tree skeleton__tree--1">
                <div class="skeleton__icon"></div>
                <div class="skeleton__p"></div>
            </div>
        </div>
    </div>

    <div class="panel col9-12">
        <div class="skeleton">
            <div class="skeleton__section skeleton__section--actions">
                <div class="skeleton__input"></div>
                <div class="skeleton__input"></div>
                <div class="skeleton__input"></div>
            </div>
            <div class="skeleton__section">
                <div class="skeleton__tree skeleton__tree--0">
                    <div class="skeleton__block"></div>
                </div>
                <div class="skeleton__tree skeleton__tree--1">
                    <div class="skeleton__block"></div>
                </div>
                <div class="skeleton__tree skeleton__tree--1">
                    <div class="skeleton__block"></div>
                </div>
                <div class="skeleton__tree skeleton__tree--0">
                    <div class="skeleton__block"></div>
                </div>
                <div class="skeleton__tree skeleton__tree--1">
                    <div class="skeleton__block"></div>
                </div>
                <div class="skeleton__tree skeleton__tree--1">
                    <div class="skeleton__block"></div>
                </div>
                <div class="skeleton__tree skeleton__tree--1">
                    <div class="skeleton__block"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="panel col4-12">
        <div class="skeleton">
            <div class="skeleton__section skeleton__section--card">
                <div class="skeleton__img"></div>
                <div>
                    <div class="skeleton__header skeleton__header--long"></div>
                    <div class="skeleton__p"></div>
                </div>
            </div>
            <div class="skeleton__p"></div>
            <div class="skeleton__p"></div>
            <div class="skeleton__p"></div>
        </div>
    </div>

    <div class="panel col4-12">
        <div class="skeleton">
            <div class="skeleton__section skeleton__section--card">
                <div class="skeleton__img"></div>
                <div>
                    <div class="skeleton__header skeleton__header--long"></div>
                    <div class="skeleton__p"></div>
                </div>
            </div>
            <div class="skeleton__p"></div>
            <div class="skeleton__p"></div>
            <div class="skeleton__p"></div>
        </div>
    </div>
</section>

@code {

}
