
<section class="container">
    <div class="panel">
        <div class="skeleton">
            <div class="skeleton__header"></div>
            <div class="skeleton__hr"></div>
            <div class="skeleton__section skeleton__section--table">
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
                <div class="skeleton__tr">
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                    <div class="skeleton__td"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
